.signupContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
        padding-left: 40px;
        border: 1px solid #ff8177;
        background-color: #131313;
        border-radius: 20px;
        width: 450px;
        padding-bottom: 20px;
}

.signUp {
    padding-top: 20px;
    padding-right: 30px;
}

.signupButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;


}

/* Style for the disabled button */
.signupButton:disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
        color: darkgrey;
        border: 5px solid darkgray;

    width: 91%;
    height: 60px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
    font-size: 20px;


}

.signupButton:enabled {
    background-color: #ff5252;
    border: 1px solid #ff8177;
    color: white;
    cursor: pointer;
    width: 91%;
    height: 60px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
}
