* {
    font-family: 'Kombh Sans', sans-serif;
    font-weight: 500;
    background-color: #131313;
}


.homePageSpotList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    size: 14px;
    margin-right: 20px;

}

.spotListItem {
    flex: 1 0 calc(20% - 20px);
    margin-bottom: 20px;
    cursor: pointer;
    width: calc(25% - 20px);
    /* Adjusted width calculation */
    max-width: calc(25% - 20px);
    /* Added max-width property */
    box-sizing: border-box;
    /* Ensure padding and border don't affect the width */
    color: #ff8177;
    margin-left: 20px;
}
.spotImageContainer {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 10px;
}

.createSpotBtn{
    margin-left: 70px;
    width: 14%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid;
    cursor: pointer;
}

.manageSpot{
    display: flex;
    margin-left: 70px;
    font-size: 40px
}

.manageButtons button{
    /* display: flex; */
    border: 1px solid;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}



.spotImage {
    width: 100%;
    height: 390px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 10px;
}

.spotImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.spotDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textDetails {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.price {
    margin-top: 5px;
}
.locations {
    margin-bottom: 5px;
    font-size: 18px;

}

.price {
    margin-bottom: 5px;
}

.avgRating {
    margin-left: 10px;
}

/* Adjusted media queries with min-width values */
@media (max-width: 1200px) {
    .spotListItem {
        flex: 0 0 calc(33.333% - 20px);
        /* max-width: calc(33.333% - 20px); */
    }

    .spotImage {
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 225px;
    }
}

@media (max-width: 800px) {
    .spotListItem {
        flex: 0 0 calc(50% - 20px);
        /* max-width: calc(50% - 20px); */
    }

    .spotImage {
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 600px) {
    .spotListItem {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .spotImage {
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 300px;
    }
}

@media (max-width: 400px) {
    .spotListItem {
        flex: 0 0 calc(100% - 20px);
    }

    .spotImage {
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 400px;
    }
}
