.createSpot {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 100px; */


}

.createSpotHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 200px;
}

.locationHeading {
    margin-bottom: 40px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.heading1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 0px;

}

.description1 #description1 {
    margin-bottom: 10px;
    width: 1005px;
    height: 200px;


}

.description #description {
    margin-bottom: 40px;
    height: 200px;

    width: 1005px;


}

#country1 {
    width: 1001px;
    background-color: #E8F0FE;
}

#country {
    width: 1001px;
    background-color: #E8F0FE;
}

#address1 {
    width: 1001px;
    background-color: #E8F0FE;
}

#address {
    width: 1001px;
    background-color: #E8F0FE;
}

#city1 {
    background-color: #E8F0FE;
}

#state1 {
    background-color: #E8F0FE;
}

#name1 {
    background-color: #E8F0FE;
}

#price1 {
    background-color: #E8F0FE;
}

.description1 {

    width: 1001px;
    margin-left: 350px;
    /* border-top: 2px solid; */

    /* margin-bottom: 20px; */

    /* margin-left: 90px; */


}


.title1 {
    border-top: 2px solid;
    width: 1001px;
    margin-left: 350px;
}

/* .title{
    border-top: 2px solid;
    width: 1001px;
    margin-left: 350px;
} */

.title1 #name1 {
    width: 1005px;
    margin-bottom: 40px
}

.title #name {
    width: 1005px;
    margin-bottom: 40px
}

.prices1 {
    border-top: 2px solid;
    /* width: 1010px; */
    margin-left: 350px;
    border-bottom: 2px solid;
}

.prices {
    /* border-top: 2px solid; */
    width: 1010px;
    margin-left: 350px;
    margin-bottom: 20px;

}

.prices1 #price1 {
    width: 995px;
    margin-bottom: 50px;
}

.prices1 #price {
    width: 995px;
    margin-bottom: 90px;
}


/* .comma {
    font-size: 30px;
    margin-right: 100px;
    margin-left: auto;
} */



.locationDetails,
.title,
.description,
.description1,
.title1,
.prices1,
.prices,
.imageUpload,
.previewImage,
.addImages,
.removeButton,
.addButton {
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.locationDetails,
.description,

.title,
/* .prices, */

.imageUpload {
    border-bottom: 2px solid;
    /* border-top: 2px solid; */
    width: 1000px;
    /* margin-bottom: 10px */
}

.locationDetails textarea,
.description textarea,
.description1 textarea,
.title textarea,
.prices textarea {
    width: calc(100% - 5px);

    box-sizing: border-box;
    margin-bottom: 50px;

}

.imageUpload {
    border-bottom: 2px solid;
    width: 1000px;
    border-top: 2px solid;
}

.previewImage,
.addImages {
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.removeButton,
.addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 10px;
    border: none;
    background-color: #f77062;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    padding: 6px;
    cursor: pointer;
    margin-bottom: 30px;
}

.addButton {
    margin-top: 5px;
    cursor: pointer;
}

.removeButton {
    margin-top: 15px;
    cursor: pointer;
}

.CREATEsubmit {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    border: 1px solid;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;


}

.CREATEsubmit:hover {
    background-image: linear-gradient(to right, #4837ff 100%, #fe5196 0%);
    border: 1px solid #4837ff;
    font-size: 15px;
}
.CREATEsubmit1 {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    border: 1px solid;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;


}

.CREATEsubmit1:hover {
    background-image: linear-gradient(to right, #4837ff 100%, #fe5196 0%);
    border: 1px solid #4837ff;
    font-size: 15px;
}

.cityState1 {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    width: 1040px;

}

.cityState {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    width: 1040px;

}

.cityState1 .inputContainer1 {
    width: 100%;
    box-sizing: border-box;
}

.cityState .inputContainer {
    width: 100%;
    box-sizing: border-box;
}

.inputContainer1 .city1 {
    display: flex;
    align-items: center;

    height: 45px;
}

.inputContainer .city {
    display: flex;
    align-items: center;
    height: 45px;
    /* margin-bottom: 45px; */
}

.inputContainer1 .city1 .comma1 {
    /* margin-bottom: 40px; */
    font-size: 28px;
    margin-left: 10px;
    /* margin-bottom: 1000px; */
}

.inputContainer .city .comma {
    /* margin-bottom: 40px; */
    font-size: 28px;
    margin-left: 10px;

    /* margin-bottom: 1000px; */
}
.locationDetails1 {
    border-bottom: 2px solid;
    width: 65%
}


@media (min-width: 1201px) {
    .createSpot {
            font-size: 10px;
        }

        .createSpotHeader {
            /* margin-left: 20px; */
            /* margin-left: px; */
            margin-right: 508px;
            /* font-size: 15px; */

        }

        .createSpotHeader1 {
            /* margin-left: 20px; */
            /* margin-left: px; */
            margin-right: 50px;
            /* font-size: 15px; */

        }

        .locationHeading {
            /* margin-left: 60px; */
        }
        .locationDetails {
            margin-left: 190px;
        }

        .locationDetails textarea,
        .description textarea,
        .description1 textarea,
        .title textarea,
        .title1 textarea,
        .prices textarea,
        .prices1 textarea {
            width: 10px;
        }

        #country,
        #address,
        #city,
        #state {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            /* margin-bottom: 20px; */
            /* margin-left: 0px; */
        }

        #country1,
        #address1 {
            width: 95%;

        }

        .cityState .inputContainer {
            width: 32.3%;
            /* margin-left: 60px */
        }

        .cityState1 .inputContainer1 {
            width: 41.5%;
        }


        .locationDetails {
            margin-right: 200px;
        }


        .description {
            margin-left: 425px;
        }
        .description1 {
            /* width: 100%; */
            margin-left: 530px;
        }



        .CountryLavel {
            margin-left: 60px;
        }

        .addressLabel {
            margin-left: 60px;
        }



        .title #name,
        .title1 #name1 {
            width: 95%;
            margin-left: 10px;
        }

        .description #description{
            /* margin-left: 80px; */
            width: 660px;
            height: 100px;
        }
        .description1 #description1 {
            width: 650px;
            margin-right: 10px;
            height: 80px;
        }

        .title {
            margin-left: 420px;
        }


        .title1 {
            width: 700px;
            margin-left: 510px;
        }

        .prices1 {
            width: 700px;
            margin-left: 510px
        }

        .prices {
            margin-left: 420px;
        }



        .prices #price {
            width: 63%;
            /* margin-left: 40px; */
        }

        .prices1 #price1 {
            width: 98%;
        }

        .imageUpload {
            margin-left: 420px;
        }

        .locationDetails,
        .description,
        .title,
        .imageUpload {
            border-bottom: 2px solid;
            width: 670px;
            /* margin-left: 400px; */
        }
        .imageUpload {
            margin-left: 430px;
        }


        .CREATEsubmit {
            margin-left: 700px;
        }

    /* Add more specific styles for larger screens if needed */
}

/* Standard 992px - 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .createSpot {
            font-size: 10px;
        }

        .createSpotHeader {
            /* margin-left: 20px; */
            /* margin-left: px; */
            margin-right: 460px;
            /* font-size: 15px; */

        }

        .createSpotHeader1 {
            /* margin-left: 20px; */
            /* margin-left: px; */
            margin-right: 470px;
            /* font-size: 15px; */

        }

        .locationHeading {
            /* margin-left: 60px; */
        }

        .locationDetails {
            margin-left: 250px;
        }

        .locationDetails textarea,
        .description textarea,
        .description1 textarea,
        .title textarea,
        .title1 textarea,
        .prices textarea,
        .prices1 textarea {
            width: 10px;
        }

        #country,
        #address,
        #city,
        #state {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            /* margin-bottom: 20px; */
            /* margin-left: 0px; */
        }

        #country1,
        #address1 {
            width: 95%;

        }

        .cityState .inputContainer {
            width: 32.5%;
            /* margin-left: 60px */
        }

        .cityState1 .inputContainer1 {
            width: 41.5%;
        }


        .locationDetails {
            margin-right: 200px;
        }


        .description {
            margin-left: 225px;
        }

        .description1 {
            /* width: 100%; */
            margin-left: 530px;
        }



        .CountryLavel {
            margin-left: 60px;
        }

        .addressLabel {
            margin-left: 60px;
        }



        .title #name,
        .title1 #name1 {
            width: 95%;
            margin-left: 10px;
        }

        .description #description {
            /* margin-left: 80px; */
            width: 680px;
            height: 100px;
        }

        .description1 #description1 {
            width: 650px;
            margin-right: 10px;
            height: 80px;
        }

        .title {
            margin-left: 220px;
        }


        .title1 {
            width: 700px;
            margin-left: 510px;
        }

        .prices1 {
            width: 700px;
            margin-left: 510px
        }

        .prices {
            margin-left: 220px;
        }



        .prices #price {
            width: 63%;
            /* margin-left: 40px; */
        }

        .prices1 #price1 {
            width: 98%;
        }

        .imageUpload {
            margin-left: 420px;
        }

        .locationDetails,
        .description,
        .title,
        .imageUpload {
            border-bottom: 2px solid;
            width: 670px;
            /* margin-left: 400px; */
        }

        .imageUpload {
            margin-left: 210px;
        }


        .CREATEsubmit {
            margin-left: 700px;
        }

    /* Add more specific styles for medium-sized screens if needed */
}

/* Tablet 768px - 991px */
@media (min-width: 768px) and (max-width: 991px) {
.createSpot {
        font-size: 10px;
    }

    .createSpotHeader {
        /* margin-left: 20px; */
        /* margin-left: px; */
        margin-right: 460px;
        /* font-size: 15px; */

    }

    .createSpotHeader1 {
        /* margin-left: 20px; */
        /* margin-left: px; */
        margin-right: 570px;
        width: 400px;
        /* font-size: 15px; */

    }

    .locationHeading {
        /* margin-left: 60px; */
    }

    .locationDetails {
        margin-left: 240px;
    }
    .locationDetails1 {
        margin-right: 120px;
        width: 600px;
    }

    .locationDetails textarea,
    .description textarea,
    .description1 textarea,
    .title textarea,
    .title1 textarea,
    .prices textarea,
    .prices1 textarea {
        width: 10px;
    }

    #country,
    #address,
    #city,
    #state {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        /* margin-bottom: 20px; */
        /* margin-left: 0px; */
    }

    #country1,
    #address1 {
        width: 100%;

    }

    .cityState .inputContainer {
        width: 32.5%;
        /* margin-left: 60px */
    }

    .cityState1 .inputContainer1 {
        width: 38%;
    }


    .locationDetails {
        margin-right: 200px;

    }


    .description {
        margin-left: 75px;
    }

    .description1 {
        /* width: 100%; */
        margin-left: 170px;
    }



    .CountryLavel {
        margin-left: 60px;
    }

    .addressLabel {
        margin-left: 60px;
    }



    .title #name,
    .title1 #name1 {
        width: 95%;
        margin-left: 10px;
    }

    .description #description {
        /* margin-left: 80px; */
        width: 680px;
        height: 100px;
    }

    .description1 #description1 {
        width: 650px;
        margin-right: 10px;
        height: 80px;
    }

    .title {
        margin-left: 70px;
    }


    .title1 {
        width: 700px;
        margin-left: 160px;
    };

    .prices1 {
        width: 700px;
        margin-left: 160px
    }

    .prices {
        margin-left: 70px;
    }



    .prices #price {
        width: 63%;
        /* margin-left: 40px; */
    }

    .prices1 #price1 {
        width: 98%;
    }

    .imageUpload {
        margin-left: 420px;
    }

    .locationDetails,
    .description,
    .title,
    .imageUpload {
        border-bottom: 2px solid;
        width: 670px;
        /* margin-left: 400px; */
    }

    .imageUpload {
        margin-left: 70px;
    }


    .CREATEsubmit {
        margin-left: 350px;
    }

}

/* Mobile 767px and below
@media (max-width: 767px) {
    .createSpot {
        width: 70%;
        font-size: 10px;
    }

    .createSpotHeader {
        margin-left: 20px;
        margin-right: 0px;

    }

    .locationHeading {
        margin-left: 50px;
    }

    .locationDetails textarea,
    .description textarea,
    .description1 textarea,
    .title textarea,
    .prices textarea {
        width: 10px;
    }

    #country,
    #address,
    #city,
    #state {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        /* margin-bottom: 20px; */
        /* margin-left: 0px; */
    /* }

    .cityState .inputContainer {
        width: 21.5%;
        margin-left: 40px
    }

    .locationDetails {
        margin-left: 70px;
    }

    .description {
        width: 70%;
        margin-left: 90px;
    }

    #country {
        margin-left: 40px;
    }

    .CountryLavel {
        margin-left: 60px;
    }

    .addressLabel {
        margin-left: 60px;
    }

    #address {
        margin-left: 40px;
    }

    .title #name {
        width: 70%;
    }

    .description #description {
        width: 400px;
    }

    .title {
        width: 70px;
        margin-left: 90px;
    }

    .prices {
        margin-left: 90px;
    }

    .prices #price {
        width: 40%;
        /* margin-left: 40px; */
    /* }

    .imageUpload {
        margin-left: 100px;
    }

    .locationDetails,
    .description,
    .title,
    .imageUpload {
        border-bottom: 2px solid;
        width: 550px;
        /* margin-left: 80px; */
    /* }

    .CREATEsubmit {
        margin-left: 350px;
    }   */

    @media (max-width: 767px) {

        .createSpot {
                font-size: 10px;
            }

            .createSpotHeader {
                /* margin-left: 20px; */
                /* margin-left: px; */
                margin-right: 460px;
                /* font-size: 15px; */

            }

            .createSpotHeader1 {
                /* margin-left: 20px; */
                /* margin-left: px; */
                margin-right: 670px;
                /* font-size: 15px; */

            }

            .locationHeading {
                /* margin-left: 60px; */
            }

            .locationDetails {
                margin-left: 50px;

            }

            .locationDetails textarea,
            .description textarea,
            .description1 textarea,
            .title textarea,
            .title1 textarea,
            .prices textarea,
            .prices1 textarea {
                width: 10px;
            }

            #country,
            #address,
            #city,
            #state {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                /* margin-bottom: 20px; */
                /* margin-left: 0px; */
            }

            #country1,
            #address1 {
                width: 95%;

            }

            .cityState .inputContainer {
                width: 30%;
                /* margin-left: 60px */
            }

            .cityState1 .inputContainer1 {
                width: 41.5%;
            }


            .locationDetails {
                /* margin-right: 200px; */
            }


            .description {
                margin-left: 35px;
            }

            .description1 {
                /* width: 100%; */
                margin-left: 30px;
            }



            .CountryLavel {
                margin-left: 60px;
            }

            .addressLabel {
                margin-left: 60px;
            }



            .title #name,
            .title1 #name1 {
                width: 95%;
                margin-left: 10px;
            }

            .description #description {
                /* margin-left: 80px; */
                width: 600px;
                height: 100px;
            }

            .description1 #description1 {
                width: 650px;
                margin-right: 10px;
                height: 80px;
            }

            .title {
                margin-left: 20px;
            }


            .title1 {
                width: 700px;
                margin-left: 20px;
            }

            .prices1 {
                width: 700px;
                margin-left: 20px
            }

            .prices {
                margin-left: 20px;
            }



            .prices #price {
                width: 63%;
                /* margin-left: 40px; */
            }

            .prices1 #price1 {
                width: 98%;
            }

            .imageUpload {
                margin-left: 420px;
            }

            .locationDetails,
            .description,
            .title,
            .imageUpload {
                border-bottom: 2px solid;
                width: 620px;
                /* margin-left: 400px; */
            }

            .imageUpload {
                margin-left: 30px;
            }


            .CREATEsubmit {
                margin-left: 220px;
            }
}
