.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown.show {
    display: block;
}

.NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 17px;

}

.navLink {
    padding-right: 10px;
}
